<div class="container">
  <!-- aboutページ -->
  <div class="about">

    <div class="container">
      <div class="theTarget">
        <div class="theTarget1">
          <!-- <div style="background-image: url(images/hawaii.jpg)"></div> -->
        </div>
        <div class="theTarget2">
        </div>
      </div>
    </div>

   <div class="text">
    <h3>ー 当サイトご利用にあたって ー</h3>
      <br>

      <p>このサイトは自分で描いた絵や子供の制作物を自由に投稿・閲覧・感想などをシェアできるサイトです。</p>

      <p>なお、投稿・いいね・コメント機能のご利用に関しては、登録が必要となります(登録無料)。<br>
         また登録にあたってはご自身のメールアドレスが必要となります。</p>

    <h3>ー 当サイトの由来ー</h3>
      <p>Anonymous artistとは匿名アーティストと言う意味</p>
   </div>

</div>